{% include 'header.html' %}

        <!-- Optional header components (ex: slider) -->
            
    <!-- MAIN CONTENT -->
    <div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Data &amp; Tools</h2>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a href="/respiratory_microbial_gene_catalogue/">Home</a></li>
                        <li class="active"><a href="#">Data &amp; tools</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="slice white">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="section-title-wr">
                            <h3 class="section-title left"><span>Data</span></h3>
                        </div>
                        <p>1. Sequence data for gene catalogs:</p>
                        <ul class="list-check">
                            <li><i class="fa fa-check"></i>  Non-redundant gene catalog (nucleotide sequences, fasta) <a href="/respiratory_microbial_gene_catalogue/media/AllOrf.cds.fa.gz"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><b>Click to download</b></a></li>
                            <li><i class="fa fa-check"></i>  Non-redundant gene catalog (amino acid sequences, fasta) <a href="/respiratory_microbial_gene_catalogue/media/AllOrf.pep.fa.gz"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><b>Click to download</b></a></li>
                        </ul>
                        <p>2. Gene annotation table:</p>
                        <ul class="list-check">
                            <li><i class="fa fa-check"></i>  <span class="glyphicon glyphicon-star"></span>GeneAnnotationAndSummaryTable.xls.gz <a href="/respiratory_microbial_gene_catalogue/media/GeneAnnotationAandSummaryTable.xls.gz"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><b>Click to download</b></a></li>
                        </ul>
                        <p>3. Public data used including:</p>
                        <ul class="list-check">
                            <li><i class="fa fa-check"></i>  Genes of 1,384 genomes of 66 respiratory tract related bacteria in the Integrated Microbial Genomes(IMG)  <a href="https://img.jgi.doe.gov/" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span><b>Click to access</b></a></li>
                            <li><i class="fa fa-check"></i>  Gene set of respiratory tracts from the Human Microbiome Project (HMP)  <a href="https://hmpdacc.org/hmp/" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span><b>Click to access</b></a></li>
                            <li><i class="fa fa-check"></i>  Genes of 73 respiratory tract related bacteria in the Pathosystems Resource Integration Center (PATRIC)  <a href="http://www.patricbrc.org" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span><b>Click to access</b></a></li>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <table class="table table-striped">
                            <caption><span class="glyphicon glyphicon-star">Table format</caption>
                            <tbody>
                                <tr>
                                    <td>Gene ID</td>
                                    <td>Unique ID</td>
                                </tr>
                                <tr>
                                    <td>Gene Length</td>
                                    <td>Length of nucleotide sequence</td>
                                </tr>
                                <tr>
                                    <td>Taxonomic Annotation(Phylum Level)</td>
                                    <td>Annotated phylum for a gene</td>
                                </tr>
                                <tr>
                                    <td>Taxonomic Annotation(Genus Level)</td>
                                    <td>Annotated genus for a gene</td>
                                </tr>
                                <tr>
                                    <td>Taxonomic Annotation(Species Level)</td>
                                    <td>Annotated species for a gene</td>
                                </tr>
                                <tr>
                                    <td>eggNOG Annotation</td>
                                    <td>Annotated eggNOG(s) for a gene</td>
                                </tr>
                                <tr>
                                    <td>eggNOG Functional Categories</td>
                                    <td>eggNOG functional category(ies) of the annotated eggNOG(s)</td>
                                </tr>
                                <tr>
                                    <td>KEGG Annotation</td>
                                    <td>Annotated KO(s) for a gene</td>
                                </tr>
                                <tr>
                                    <td>KEGG Functional Categories</td>
                                    <td>KEGG functional category(ies) of the annotated KO(s)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="slice light-gray bt bb">
    <div class="wp-section">
        <div class="container">
                    <div class="section-title-wr">
                        <h3 class="section-title left"><span>Tools</span></h3>
                    </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="section-title-wr">
                        <h3 class="section-title left"><span>Gene catalog construction</span></h3>
                    </div>
<div class="widget">
    <div class="panel-group" id="accordion1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" class="collapsed">
                SOAPdenovo(v2.04)
              </a>
            </h4>
          </div>
          <div id="collapseOne1" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
            <p>
              SOAPdenovo is a novel short-read assembly method that can build a de novo draft assembly for the human-sized genomes. The program is specially designed to assemble Illumina GA short reads.
            </p>
            <p>
                Website: <a href="http://soap.genomics.org.cn/soapdenovo.html" target="_blank">http://soap.genomics.org.cn/soapdenovo.html</a>
            </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1" class="collapsed">
                MetaGeneMark(v 3.26)
              </a>
            </h4>
          </div>
          <div id="collapseTwo1" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
            <p>
              MetaGeneMark is a program designed to predict genes in metagenomes.
            </p>
            <p>
                Website: <a href="http://exon.gatech.edu/GeneMark/index.html" target="_blank">http://exon.gatech.edu/GeneMark/index.html</a>
            </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1" class="collapsed">
                CD-HIT(v4.6.6)
              </a>
            </h4>
          </div>
          <div id="collapseThree1" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <p>
              CD-HIT is a very widely used program for clustering and comparing protein or nucleotide sequences. CD-HIT helps to significantly reduce the computational and manual efforts in many sequence analysis tasks and aids in understanding the data structure and correct the bias within a dataset.
            </p>
            <p>
                Website: <a href="http://weizhong-lab.ucsd.edu/cd-hit/" target="_blank">http://weizhong-lab.ucsd.edu/cd-hit/</a>
            </p>
            </div>
          </div>
        </div>
                <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1" class="">
                SOAPaligner/soap2(v2.21)
              </a>
            </h4>
          </div>
          <div id="collapseFour1" class="panel-collapse in" style="height: auto;">
            <div class="panel-body">
              <p>
              SOAPaligner/soap2 is a program for efficient gapped and ungapped alignment of short oligonucleotides onto reference sequences. The program is designed to handle the huge amounts of short reads generated by parallel sequencing using the new generation Illumina-Solexa sequencing technology.
            </p>
            <p>
                Website: <a href="http://soap.genomics.org.cn/soapaligner.html" target="_blank">http://soap.genomics.org.cn/soapaligner.html</a>
            </p>
            </div>
          </div>
        </div>
      </div>
</div>
                </div>
                <div class="col-md-4">
                    <div class="section-title-wr">
                        <h3 class="section-title left"><span>Gene annotation</span></h3>
                    </div>
<div class="widget">
    <div class="panel-group" id="accordion2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" class="collapsed">
                Blast
              </a>
            </h4>
          </div>
          <div id="collapseOne2" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
            <p>
              BLAST finds regions of similarity between biological sequences. The program compares nucleotide or protein    sequences to sequence databases and calculates the statistical significance.
            </p>
            <p>
                Website: <a href="https://blast.ncbi.nlm.nih.gov/Blast.cgi" target="_blank">https://blast.ncbi.nlm.nih.gov/Blast.cgi</a>
            </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" class="collapsed">
                KEGG(Kyoto Encyclopedia of Genes and Genomes)
              </a>
            </h4>
          </div>
          <div id="collapseTwo2" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <p>
              KEGG is a database resource for understanding high-level functions and utilities of the biological system, such as the cell, the organism and the ecosystem, from molecular-level information, especially large-scale molecular datasets generated by genome sequencing and other high-throughput experimental technologies.
            </p>
            <p>
                Website: <a href="http://www.genome.jp/kegg/" target="_blank">http://www.genome.jp/kegg/</a>
            </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2" class="">
                eggNOG (evolutionary genealogy of genes: Non-supervised Orthologous Groups)
              </a>
            </h4>
          </div>
          <div id="collapseThree2" class="panel-collapse in" style="height: auto;">
            <div class="panel-body">
              <p>
              eggNOG (evolutionary genealogy of genes: Non-supervised Orthologous Groups) is a database of orthologous groups of genes. The orthologous groups are annotated with functional description lines (derived by identifying a common denominator for the genes based on their various annotations), with functional categories (i.e derived from the original COG/KOG categories).
            </p>
            <p>
                Website: <a href="http://eggnogdb.embl.de/#/app/home" target="_blank">http://eggnogdb.embl.de/#/app/home</a>
            </p>
            </div>
          </div>
        </div>
      </div>
</div>
                </div>
                <div class="col-md-4">
                    <div class="section-title-wr">
                        <h3 class="section-title left"><span>Aligner against gene catalog</span></h3>
                    </div>
<div class="widget">
    <div class="panel-group" id="accordion3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion3" href="#collapseOne3" class="">
                BWA (Burrows-Wheeler Aligner)
              </a>
            </h4>
          </div>
          <div id="collapseOne3" class="panel-collapse in" style="height: auto;">
            <div class="panel-body">
            <p>
              BWA is a software package for mapping low-divergent sequences against a large reference genome, such as the human genome.
            </p>
            <p>
                Website: <a href="http://bio-bwa.sourceforge.net/" target="_blank">http://bio-bwa.sourceforge.net/</a>
            </p>
            </div>
          </div>
        </div>
      </div>
</div>
                </div>
            </div>
        </div>
    </div>
</section>


    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="row">

                

            </div>
            
            <hr>
            
            <div class="row">
                <div class="col-lg-9 copyright">
                    2014 © Web Pixels. All rights reserved.
                    <a href="#">Terms and conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- Essentials -->
<script src="/static/respiratory_microbial_gene_catalogue/js/modernizr.custom.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/js/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/js/jquery.easing.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/js/jquery.metadata.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/js/jquery.hoverup.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/js/jquery.hoverdir.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/js/jquery.stellar.js"></script>

<!-- Boomerang mobile nav - Optional  -->
<script src="/static/respiratory_microbial_gene_catalogue/assets/responsive-mobile-nav/js/jquery.dlmenu.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/responsive-mobile-nav/js/jquery.dlmenu.autofill.js"></script>

<!-- Forms -->
<script src="/static/respiratory_microbial_gene_catalogue/assets/ui-kit/js/jquery.powerful-placeholder.min.js"></script> 
<script src="/static/respiratory_microbial_gene_catalogue/assets/ui-kit/js/cusel.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/sky-forms/js/jquery.form.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/sky-forms/js/jquery.validate.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/sky-forms/js/jquery.maskedinput.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/sky-forms/js/jquery.modal.js"></script>

<!-- Assets -->
<script src="/static/respiratory_microbial_gene_catalogue/assets/hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/page-scroller/jquery.ui.totop.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/mixitup/jquery.mixitup.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/mixitup/jquery.mixitup.init.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/waypoints/waypoints.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/milestone-counter/jquery.countTo.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/easy-pie-chart/js/jquery.easypiechart.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/social-buttons/js/rrssb.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/nouislider/js/jquery.nouislider.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/owl-carousel/owl.carousel.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/bootstrap/js/tooltip.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/bootstrap/js/popover.js"></script>

<!-- Sripts for individual pages, depending on what plug-ins are used -->

<!-- Boomerang App JS -->
<script src="/static/respiratory_microbial_gene_catalogue/js/wp.app.js"></script>
<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
<![endif]-->

<!-- Temp You can remove this once you started to work on your project -->
<!-- <script src="js/jquery.cookie.js"></script> -->
<!-- <script src="js/wp.switcher.js"></script> -->
<!-- <script type="text/javascript" src="js/wp.ga.js"></script> -->


</body>
</html>