<!DOCTYPE html>
<html>  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <title>Boomerang 2 - MultiPurpose Template</title>

    <!-- Essential styles -->
    <link rel="stylesheet" href="/static/respiratory_microbial_gene_catalogue/assets/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/respiratory_microbial_gene_catalogue/font-awesome/css/font-awesome.min.css" type="text/css"> 
    <link rel="stylesheet" href="/static/respiratory_microbial_gene_catalogue/assets/fancybox/jquery.fancybox.css?v=2.1.5" media="screen"> 
     
    <!-- Boomerang styles -->
        <link id="wpStylesheet" type="text/css" href="/static/respiratory_microbial_gene_catalogue/css/global-style.css" rel="stylesheet" media="screen">
        

    <!-- Favicon -->
    <link href="/static/respiratory_microbial_gene_catalogue/images/favicon.png" rel="icon" type="image/png">

    <!-- Assets -->
    <link rel="stylesheet" href="/static/respiratory_microbial_gene_catalogue/assets/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/static/respiratory_microbial_gene_catalogue/assets/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="/static/respiratory_microbial_gene_catalogue/assets/sky-forms/css/sky-forms.css">    
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="assets/sky-forms/css/sky-forms-ie8.css">
    <![endif]-->

    <!-- Required JS -->
    <script src="/static/respiratory_microbial_gene_catalogue/js/jquery.js"></script>
    <script src="/static/respiratory_microbial_gene_catalogue/js/jquery-ui.min.js"></script>

    <!-- Page scripts -->
    
</head>
<body class="body-wrap body-boxed body-bg-3">
<!-- MODALS -->

<!-- MOBILE MENU - Option 2 -->
<section id="navMobile" class="aside-menu left">
    <form class="form-horizontal form-search">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button id="btnHideMobileNav" class="btn btn-close" type="button" title="Hide sidebar"><i class="fa fa-times"></i></button>
            </span>
        </div>
    </form>
    <div id="dl-menu" class="dl-menuwrapper">
        <ul class="dl-menu"></ul>
    </div>
</section> 

<!-- SLIDEBAR -->
<section id="asideMenu" class="aside-menu right">
    <form class="form-horizontal form-search">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search..." />
            <span class="input-group-btn">
                <button id="btnHideAsideMenu" class="btn btn-close" type="button" title="Hide sidebar"><i class="fa fa-times"></i></button>
            </span>
        </div>
    </form>
    
    <h5 class="side-section-title">Optional sidebar menu</h5>
    <div class="nav">
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">About us</a>
            </li>
            <li>
                <a href="#">Blog</a>
            </li>
            <li>
                <a href="#">Work</a>
            </li>
            <li>
                <a href="#">Online shop</a>
            </li>
        </ul>
    </div>
    
    <h5 class="side-section-title">Social media</h5>
    <div class="social-media">
        <a href="#"><i class="fa fa-facebook facebook"></i></a>
        <a href="#"><i class="fa fa-google-plus google"></i></a>
        <a href="#"><i class="fa fa-twitter twitter"></i></a>
    </div>
    
    <h5 class="side-section-title">Contact information</h5>
    <div class="contact-info">
        <h5>Address</h5>
        <p>5th Avenue, New York - United States</p>
        
        <h5>Email</h5>
        <p>hello@webpixels.ro</p>
        
        <h5>Phone</h5>
        <p>+10 724 1234 567</p>
    </div>
</section>


            <!-- HEADER -->
        <div id="divHeaderWrapper">
            <header class="header-standard-2">     
    <!-- MAIN NAV -->
    <div class="navbar navbar-wp navbar-arrow mega-nav" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle navbar-toggle-aside-menu">
                    <i class="fa fa-outdent icon-custom"></i>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars icon-custom"></i>
                </button>

                <a class="navbar-brand" href="index.html" title="Boomerang | One template. Infinite solutions">
                    <img src="/static/respiratory_microbial_gene_catalogue/images/boomerang-logo-black.png" alt="Boomerang | One template. Infinite solutions">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden-md hidden-lg">
                        <div class="bg-light-gray">
                            <form class="form-horizontal form-light p-15" role="form">
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control" placeholder="I want to find ...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-white" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="dropdown dropdown-meganav mega-dropdown-fluid">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                        <ul class="dropdown-menu">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-3 mega-nav-section-wr">
                                        <div class="mega-nav-section">
                                            <img src="/static/respiratory_microbial_gene_catalogue/images/prv/wk-big-img-9.jpg" class="img-responsive img-thumbnail hidden-xs hidden-sm" alt="">
                                            <h3 class="mega-nav-section-title">Business &amp; Other</h3>
                                            <ul class="mega-nav-ul">
                                                <li><a href="homepage-business-1.html">Homepage: Business 1</a></li>
                                                <li><a href="homepage-business-2.html">Homepage: Business 2</a></li>
                                                <li><a href="homepage-cover.html">Homepage: Cover</a></li>
                                                <li><a href="homepage-shop-1.html">Homepage: Boomerang Shop</a></li>
                                                <li><a href="homepage-fashion-1.html">Homepage: Fashion Shop</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mega-nav-section-wr">
                                        <div class="mega-nav-section"> 
                                            <img src="/static/respiratory_microbial_gene_catalogue/images/prv/wk-big-img-10.jpg" class="img-responsive img-thumbnail hidden-xs hidden-sm hidden-xs hidden-sm" alt="">
                                            <h3 class="mega-nav-section-title">Agencies &amp; Creatives</h3>
                                            <ul class="mega-nav-ul">
                                                <li><a href="homepage-agency-1.html">Homepage: Agency</a></li>
                                                <li><a href="homepage-estate-1.html">Homepage: Real Estate</a></li>
                                                <li><a href="homepage-jobs-1.html">Homepage: Jobs</a></li>
                                                <li><a href="homepage-models-1.html">Homepage: Models</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mega-nav-section-wr">
                                        <div class="mega-nav-section">
                                            <img src="/static/respiratory_microbial_gene_catalogue/images/prv/wk-big-img-11.jpg" class="img-responsive img-thumbnail hidden-xs hidden-sm" alt="">
                                            <h3 class="mega-nav-section-title">News &amp; Media</h3>
                                            <ul class="mega-nav-ul">
                                                <li><a href="homepage-magazine-1.html">Homepage: Magazine</a></li>
                                                <li><a href="homepage-newspaper-1.html">Homepage: Newspaper</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mega-nav-section">
                                            <img src="/static/respiratory_microbial_gene_catalogue/images/prv/wk-big-img-12.jpg" class="img-responsive img-thumbnail hidden-xs hidden-sm" alt="">
                                            <h3 class="mega-nav-section-title">Institutions</h3>
                                            <ul class="mega-nav-ul">
                                                <li><a href="homepage-school-1.html">Homepage: School</a></li>
                                                <li><a href="homepage-medical-1.html">Homepage: Medical</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">About us</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="about-1.html">About us: 1</a></li>
                                    <li><a tabindex="-1" href="about-2.html">About us: 2</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Team</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="team-list-1.html">Team members: 1</a></li>
                                    <li><a tabindex="-1" href="team-list-2.html">Team members: 2</a></li>
                                    <li><a tabindex="-1" href="team-member-1.html">Single team member: 1</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Services</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="services-1.html">Services: 1</a></li>
                                    <li><a tabindex="-1" href="services-2.html">Services: 2</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Jobs</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="jobs-listing-1.html">Jobs listing: 1</a></li>
                                    <li><a tabindex="-1" href="job-description-1.html">Job description</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Pricing plans</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="pricing-1.html">Pricing: 1</a></li>
                                    <li><a tabindex="-1" href="pricing-2.html">Pricing: 2</a></li>
                                    <li><a tabindex="-1" href="pricing-3.html">Pricing: 3</a></li>
                                    <li><a tabindex="-1" href="pricing-4.html">Pricing: 4</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Sign in</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="sign-in-1.html">Sign in: 1</a></li>
                                    <li><a tabindex="-1" href="sign-in-2.html">Sign in: 2</a></li>
                                    <li><a tabindex="-1" href="sign-in-3.html">Sign in: 3 (translucent)</a></li>
                                    <li><a tabindex="-1" href="sign-in-4.html">Sign in variations</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Sign up</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="sign-up-1.html">Sign up: 1</a></li>
                                    <li><a tabindex="-1" href="sign-up-2.html">Sign up: 2</a></li>
                                    <li><a tabindex="-1" href="sign-up-3.html">Sign up: 3 (translucent)</a></li>
                                    <li><a tabindex="-1" href="sign-up-4.html">Sign up variations</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Contact</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="contact-1.html">Contact: Fluid</a></li>
                                    <li><a tabindex="-1" href="contact-2.html">Contact: Two cols</a></li>
                                </ul>
                            </li>
                            <li><a href="timeline.html">Timeline</a></li>
                            <li><a href="listings.html">Listings</a></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Helpful pages</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="404.html">Error 404</a></li>
                                    <li><a tabindex="-1" href="faq.html">FAQ</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Real Estate</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="homepage-estate-1.html">Homepage</a></li>
                                    <li><a tabindex="-1" href="estate-listing-1.html">Listing: List </a></li>
                                    <li><a tabindex="-1" href="estate-listing-2.html">Listing: Grid</a></li>
                                    <li><a tabindex="-1" href="estate-property.html">Property</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Jobs</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="homepage-jobs-1.html">Homepage</a></li>
                                    <li><a tabindex="-1" href="jobs-listing-1.html">Jobs listing</a></li>
                                    <li><a tabindex="-1" href="job-description-1.html">Job description</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Magazine &amp; Newspaper</a>
                                <ul class="dropdown-menu">
                                    <li class="divider">Magazine</li>
                                    <li><a tabindex="-1" href="homepage-magazine-1.html">Homepage</a></li>
                                    <li><a tabindex="-1" href="magazine-listing-1.html">Category listing: List</a></li>
                                    <li><a tabindex="-1" href="magazine-listing-2.html">Category listing: Grid</a></li>
                                    <li><a tabindex="-1" href="magazine-article-1.html">Magazine article</a></li>
                                    <li class="divider">Newspaper</li>
                                    <li><a tabindex="-1" href="homepage-newspaper-1.html">Newspaper homepage</a></li>
                                    <li><a tabindex="-1" href="newspaper-listing-1.html">Newspaper listing: List</a></li>
                                    <li><a tabindex="-1" href="newspaper-listing-2.html">Newspaper listing: Grid</a></li>
                                    <li><a tabindex="-1" href="magazine-article-1.html">Newspaper article</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Newsletter template</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu"><a tabindex="-1" href="#">Default</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="-1" href="newsletter/default/newsletter-default-1.html" target="_blank">Newsletter Default: Red</a></li>
                                            <li><a tabindex="-1" href="newsletter/default/newsletter-default-2.html" target="_blank">Newsletter Default: Purple</a></li>
                                            <li><a tabindex="-1" href="newsletter/default/newsletter-default-3.html" target="_blank">Newsletter Default: Blue</a></li>
                                            <li><a tabindex="-1" href="newsletter/default/newsletter-default-4.html" target="_blank">Newsletter Default: Green</a></li>
                                            <li><a tabindex="-1" href="newsletter/default/newsletter-default-5.html" target="_blank">Newsletter Default: Yellow</a></li>
                                            <li><a tabindex="-1" href="newsletter/default/newsletter-default-6.html" target="_blank">Newsletter Default: Orange</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a tabindex="-1" href="#">Flat</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="-1" href="newsletter/flat/newsletter-flat-1.html" target="_blank">Newsletter Flat: Alizarin</a></li>
                                            <li><a tabindex="-1" href="newsletter/flat/newsletter-flat-2.html" target="_blank">Newsletter Flat: Amethyst</a></li>
                                            <li><a tabindex="-1" href="newsletter/flat/newsletter-flat-3.html" target="_blank">Newsletter Flat: Belize Hole</a></li>
                                            <li><a tabindex="-1" href="newsletter/flat/newsletter-flat-4.html" target="_blank">Newsletter Flat: Emerald</a></li>
                                            <li><a tabindex="-1" href="newsletter/flat/newsletter-flat-5.html" target="_blank">Newsletter Flat: Sun Flower</a></li>
                                            <li><a tabindex="-1" href="newsletter/flat/newsletter-flat-6.html" target="_blank">Newsletter Flat: Carrot</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a tabindex="-1" href="#">Shop</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="-1" href="newsletter/shop/newsletter-shop-1.html" target="_blank">Newsletter Shop: Red</a></li>
                                            <li><a tabindex="-1" href="newsletter/shop/newsletter-shop-2.html" target="_blank">Newsletter Shop: Purple</a></li>
                                            <li><a tabindex="-1" href="newsletter/shop/newsletter-shop-3.html" target="_blank">Newsletter Shop: Blue</a></li>
                                            <li><a tabindex="-1" href="newsletter/shop/newsletter-shop-4.html" target="_blank">Newsletter Shop: Green</a></li>
                                            <li><a tabindex="-1" href="newsletter/shop/newsletter-shop-5.html" target="_blank">Newsletter Shop: Yellow</a></li>
                                            <li><a tabindex="-1" href="newsletter/shop/newsletter-shop-6.html" target="_blank">Newsletter Shop: Orange</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Components</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="wp-accordion.html">Accordion</a></li>
                                    <li><a tabindex="-1" href="wp-alerts.html">Alerts</a></li>
                                    <li><a tabindex="-1" href="wp-badges.html">Badges</a></li>
                                    <li><a tabindex="-1" href="wp-blocks-default.html">Blocks</a></li>
                                    <li><a tabindex="-1" href="wp-buttons-boomerang.html">Buttons</a></li>
                                    <li><a tabindex="-1" href="wp-callouts.html">Callouts</a></li>
                                    <li><a tabindex="-1" href="wp-carousels.html">Carousels</a></li>
                                    <li><a tabindex="-1" href="wp-counters.html">Counters</a></li>
                                    <li><a tabindex="-1" href="wp-pagination.html">Pagination</a></li>
                                    <li><a tabindex="-1" href="wp-progress-bars.html">Progress bars</a></li>
                                    <li><a tabindex="-1" href="wp-range-sliders.html">Range sliders</a></li>
                                    <li><a tabindex="-1" href="wp-rating-stars.html">Rating stars</a></li>
                                    <li><a tabindex="-1" href="wp-ribbons.html">Ribbons</a></li>
                                    <li><a tabindex="-1" href="wp-tabs.html">Tabs</a></li>
                                </ul>
                            </li> 
                            <li><a href="wp-typography-general.html">Typography</a></li>
                            <li><a href="wp-features.html">Features</a></li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-meganav mega-dropdown-fluid">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio</a>
                        <ul class="dropdown-menu">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-3 mega-nav-section-wr">
                                        <div class="mega-nav-section">
                                            <h3 class="mega-nav-section-title">Gallery with no space</h3>
                                            <ul class="mega-nav-ul">
                                                <li><a href="portfolio-two-col-boxed.html">Two columns grid: Boxed</a></li>
                                                <li><a href="portfolio-three-col-boxed.html">Three columns grid: Boxed</a></li>
                                                <li><a href="portfolio-four-col-boxed.html">Four columns grid: Boxed</a></li>
                                                <li><a href="portfolio-two-col-fluid.html">Two columns grid: Fluid</a></li>
                                                <li><a href="portfolio-three-col-fluid.html">Three columns grid: Fluid</a></li>
                                                <li><a href="portfolio-four-col-fluid.html">Four columns grid: Fluid</a></li>
                                                <li><a href="portfolio-five-col-fluid.html">Five columns grid: Fluid</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mega-nav-section-wr">
                                        <div class="mega-nav-section">
                                            <h3 class="mega-nav-section-title">Gallery with space n/text</h3>
                                            <ul class="mega-nav-ul">
                                                <li><a href="portfolio-two-col-space-boxed.html">Two columns grid: Boxed</a></li>
                                                <li><a href="portfolio-three-col-space-boxed.html">Three columns grid: Boxed</a></li>
                                                <li><a href="portfolio-four-col-space-boxed.html">Four columns grid: Boxed</a></li>
                                                <li><a href="portfolio-two-col-space-fluid.html">Two columns grid: Fluid</a></li>
                                                <li><a href="portfolio-three-col-space-fluid.html">Three columns grid: Fluid</a></li>
                                                <li><a href="portfolio-four-col-space-fluid.html">Four columns grid: Fluid</a></li> 
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mega-nav-section-wr">
                                        <div class="mega-nav-section">
                                            <h3 class="mega-nav-section-title">Gallery with space w/ text</h3>
                                            <ul class="mega-nav-ul">
                                                <li><a href="portfolio-two-col-text-boxed.html">Two columns grid with text</a></li>
                                                <li><a href="portfolio-three-col-text-boxed.html">Three columns grid with text</a></li>
                                                <li><a href="portfolio-four-col-text-boxed.html">Four columns grid with text</a></li>
                                                <li><a href="portfolio-two-col-header-boxed.html">Two columns grid with header</a></li>
                                                <li><a href="portfolio-three-col-header-boxed.html">Three columns grid with header</a></li> 
                                                <li><a href="portfolio-four-col-header-boxed.html">Four columns grid with header</a></li> 
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mega-nav-section">
                                            <h3 class="mega-nav-section-title">Single project</h3>
                                            <ul class="mega-nav-ul">
                                                <li><a href="portfolio-single-project-horizontal.html">Single project: Horizontal</a></li>
                                                <li><a href="portfolio-single-project-vertical.html">Single project: Vertical</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
                        <ul class="dropdown-menu">
                            <li><a href="blog-grid-1.html">Blog: Grid one column</a></li>
                            <li><a href="blog-grid-2.html">Blog: Grid two columns</a></li>
                            <li><a href="blog-list-1.html">Blog: List one</a></li>
                            <li><a href="blog-fluid-1.html">Blog: Full width </a></li>
                            <li><a href="blog-masonry-1.html">Blog: Masonry w/ sidebar</a></li>
                            <li><a href="blog-masonry-2.html">Blog: Masonry three columns</a></li>
                            <li><a href="blog-masonry-3.html">Blog: Masonry four colums</a></li>
                            <li><a href="blog-post-1.html">Post: Standard</a></li>
                            <li><a href="blog-post-2.html">Post: Full width</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop</a>
                        <ul class="dropdown-menu">
                            <li><a href="homepage-shop-1.html">Homepage</a></li>
                            <li><a href="shop-product-list-1.html">Products: Full width</a></li>
                            <li><a href="shop-product-list-2.html">Products: With sidebar</a></li>
                            <li><a href="shop-product-single.html">Single product</a></li>
                            <li><a href="shop-cart.html">Cart</a></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Checkout progress</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="shop-checkout-method.html">Checkout: Login-Register</a></li>
                                    <li><a tabindex="-1" href="shop-checkout-shipping.html">Checkout: Shipping</a></li>
                                    <li><a tabindex="-1" href="shop-checkout-payment.html">Checkout: Payment method</a></li>
                                    <li><a tabindex="-1" href="shop-checkout-order.html">Checkout: Order review</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Invoice</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="invoice-1.html">Invoice: New</a></li>
                                    <li><a tabindex="-1" href="invoice-2.html">Invoice: Paid</a></li>
                                    <li><a tabindex="-1" href="invoice-3.html">Invoice: Unpaid</a></li>
                                </ul>
                            </li>
                            <li><a href="user-account.html">User account</a></li>                            
                        </ul>
                    </li>
                    <li class="dropdown dropdown-aux animate-click" data-animate-in="animated bounceInUp" data-animate-out="animated fadeOutDown" style="z-index:500;">
                        <a href="#" class="dropdown-form-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                        <ul class="dropdown-menu dropdown-menu-user animate-wr">
                            <li id="dropdownForm">
                                <div class="dropdown-form">
                                    <form class="form-horizontal form-light p-15" role="form">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="I want to find ...">
                                            <span class="input-group-btn">
                                                <button class="btn btn-base" type="button">Go</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-aux">
                        <a href="#" id="cmdAsideMenu" class="dropdown-toggle dropdown-form-toggle" title="Open slidebar">
                            <i class="fa fa-outdent"></i>
                        </a>
                    </li>
                </ul>
               
            </div><!--/.nav-collapse -->
        </div>
    </div>
</header>        </div>

        <!-- Optional header components (ex: slider) -->
            
    <!-- MAIN CONTENT -->
        <div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Data &amp; Tools</h2>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="#">Data &amp; tools</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="slice white">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="section-title-wr">
                            <h3 class="section-title left"><span>Data</span></h3>
                        </div>
                        <p>1. Sequence data for gene catalogs:</p>
                        <ul class="list-check">
                            <li><i class="fa fa-check"></i>  Non-redundant gene catalog (nucleotide sequences, fasta) <a href="/media/AllOrf.cds.fa.gz"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><b>Click to download</b></a></li>
                            <li><i class="fa fa-check"></i>  Non-redundant gene catalog (amino acid sequences, fasta) <a href="/media/AllOrf.pep.fa.gz"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><b>Click to download</b></a></li>
                        </ul>
                        <p>2. Gene annotation table:</p>
                        <ul class="list-check">
                            <li><i class="fa fa-check"></i>  <span class="glyphicon glyphicon-star"></span>GeneAnnotationAandSummaryTable.xls.gz <a href="/media/GeneAnnotationAandSummaryTable.xls.gz"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><b>Click to download</b></a></li>
                        </ul>
                        <p>3. Public data used including:</p>
                        <ul class="list-check">
                            <li><i class="fa fa-check"></i>  Genes of 1384 genomes of 66 respiratory tract related bacteria in the Integrated Microbial Genomes(IMG)  <a href="https://hmpdacc.org/hmp/" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span><b>Click to access</b></a></li>
                            <li><i class="fa fa-check"></i>  Gene set of respiratory tracts from the Human Microbiome Project (HMP)  <a href="https://img.jgi.doe.gov/" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span><b>Click to access</b></a></li>
                            <li><i class="fa fa-check"></i>  Genes of 73 respiratory tract related bacteria in the Pathosystems Resource Integration Center (PATRIC)  <a href="http://www.patricbrc.org" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span><b>Click to access</b></a></li>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <table class="table table-striped">
                            <caption><span class="glyphicon glyphicon-star">Table format</caption>
                            <tbody>
                                <tr>
                                    <td>Gene ID</td>
                                    <td>Unique ID</td>
                                </tr>
                                <tr>
                                    <td>Gene Length</td>
                                    <td>Length of nucleotide sequence</td>
                                </tr>
                                <tr>
                                    <td>Taxonomic Annotation(Phylum Level)</td>
                                    <td>Annotated phylum for a gene</td>
                                </tr>
                                <tr>
                                    <td>Taxonomic Annotation(Genus Level)</td>
                                    <td>Annotated genus for a gene</td>
                                </tr>
                                <tr>
                                    <td>Taxonomic Annotation(Species Level)</td>
                                    <td>Annotated species for a gene</td>
                                </tr>
                                <tr>
                                    <td>eggNOG Annotation</td>
                                    <td>Annotated eggNOG(s) for a gene</td>
                                </tr>
                                <tr>
                                    <td>eggNOG Functional Categories</td>
                                    <td>eggNOG functional category(ies) of the annotated eggNOG(s)</td>
                                </tr>
                                <tr>
                                    <td>KEGG Annotation</td>
                                    <td>Annotated KO(s) for a gene</td>
                                </tr>
                                <tr>
                                    <td>KEGG Functional Categories</td>
                                    <td>KEGG functional category(ies) of the annotated KO(s)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="slice light-gray bt bb">
    <div class="wp-section">
        <div class="container">
                    <div class="section-title-wr">
                        <h3 class="section-title left"><span>Tools</span></h3>
                    </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="section-title-wr">
                        <h3 class="section-title left"><span>Gene catalog construction</span></h3>
                    </div>
<div class="widget">
    <div class="panel-group" id="accordion1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" class="collapsed">
                SOAPdenovo(v2.04)
              </a>
            </h4>
          </div>
          <div id="collapseOne1" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
            <p>
              SOAPdenovo is a novel short-read assembly method that can build a de novo draft assembly for the human-sized genomes. The program is specially designed to assemble Illumina GA short reads.
            </p>
            <p>
                Website: <a href="http://soap.genomics.org.cn/soapdenovo.html" target="_blank">http://soap.genomics.org.cn/soapdenovo.html</a>
            </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1" class="collapsed">
                MetaGeneMark(v 3.26)
              </a>
            </h4>
          </div>
          <div id="collapseTwo1" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
            <p>
              MetaGeneMark is a program designed to predict genes in metagenomes.
            </p>
            <p>
                Website: <a href="http://exon.gatech.edu/GeneMark/index.html" target="_blank">http://exon.gatech.edu/GeneMark/index.html</a>
            </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1" class="collapsed">
                CD-HIT(v4.6.6)
              </a>
            </h4>
          </div>
          <div id="collapseThree1" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <p>
              CD-HIT is a very widely used program for clustering and comparing protein or nucleotide sequences. CD-HIT helps to significantly reduce the computational and manual efforts in many sequence analysis tasks and aids in understanding the data structure and correct the bias within a dataset.
            </p>
            <p>
                Website: <a href="http://weizhong-lab.ucsd.edu/cd-hit/" target="_blank">http://weizhong-lab.ucsd.edu/cd-hit/</a>
            </p>
            </div>
          </div>
        </div>
                <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1" class="">
                SOAPaligner/soap2(v2.21)
              </a>
            </h4>
          </div>
          <div id="collapseFour1" class="panel-collapse in" style="height: auto;">
            <div class="panel-body">
              <p>
              SOAPaligner/soap2 is a program for efficient gapped and ungapped alignment of short oligonucleotides onto reference sequences. The program is designed to handle the huge amounts of short reads generated by parallel sequencing using the new generation Illumina-Solexa sequencing technology.
            </p>
            <p>
                Website: <a href="http://soap.genomics.org.cn/soapaligner.html" target="_blank">http://soap.genomics.org.cn/soapaligner.html</a>
            </p>
            </div>
          </div>
        </div>
      </div>
</div>
                </div>
                <div class="col-md-4">
                    <div class="section-title-wr">
                        <h3 class="section-title left"><span>Gene annotation</span></h3>
                    </div>
<div class="widget">
    <div class="panel-group" id="accordion2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" class="collapsed">
                Blast
              </a>
            </h4>
          </div>
          <div id="collapseOne2" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
            <p>
              BLAST finds regions of similarity between biological sequences. The program compares nucleotide or protein    sequences to sequence databases and calculates the statistical significance.
            </p>
            <p>
                Website: <a href="https://blast.ncbi.nlm.nih.gov/Blast.cgi" target="_blank">https://blast.ncbi.nlm.nih.gov/Blast.cgi</a>
            </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" class="collapsed">
                KEGG(Kyoto Encyclopedia of Genes and Genomes)
              </a>
            </h4>
          </div>
          <div id="collapseTwo2" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <p>
              KEGG is a database resource for understanding high-level functions and utilities of the biological system, such as the cell, the organism and the ecosystem, from molecular-level information, especially large-scale molecular datasets generated by genome sequencing and other high-throughput experimental technologies.
            </p>
            <p>
                Website: <a href="http://www.genome.jp/kegg/" target="_blank">http://www.genome.jp/kegg/</a>
            </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2" class="">
                eggNOG (evolutionary genealogy of genes: Non-supervised Orthologous Groups)
              </a>
            </h4>
          </div>
          <div id="collapseThree2" class="panel-collapse in" style="height: auto;">
            <div class="panel-body">
              <p>
              eggNOG (evolutionary genealogy of genes: Non-supervised Orthologous Groups) is a database of orthologous groups of genes. The orthologous groups are annotated with functional description lines (derived by identifying a common denominator for the genes based on their various annotations), with functional categories (i.e derived from the original COG/KOG categories).
            </p>
            <p>
                Website: <a href="http://eggnogdb.embl.de/#/app/home" target="_blank">http://eggnogdb.embl.de/#/app/home</a>
            </p>
            </div>
          </div>
        </div>
      </div>
</div>
                </div>
                <div class="col-md-4">
                    <div class="section-title-wr">
                        <h3 class="section-title left"><span>Aligner against gene catalog</span></h3>
                    </div>
<div class="widget">
    <div class="panel-group" id="accordion3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion3" href="#collapseOne3" class="">
                BWA (Burrows-Wheeler Aligner)
              </a>
            </h4>
          </div>
          <div id="collapseOne3" class="panel-collapse in" style="height: auto;">
            <div class="panel-body">
            <p>
              BWA is a software package for mapping low-divergent sequences against a large reference genome, such as the human genome.
            </p>
            <p>
                Website: <a href="http://bio-bwa.sourceforge.net/" target="_blank">http://bio-bwa.sourceforge.net/</a>
            </p>
            </div>
          </div>
        </div>
      </div>
</div>
                </div>
            </div>
        </div>
    </div>
</section>


    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="row">

                

            </div>
            
            <hr>
            
            <div class="row">
                <div class="col-lg-9 copyright">
                    2014 © Web Pixels. All rights reserved.
                    <a href="#">Terms and conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- Essentials -->
<script src="/static/respiratory_microbial_gene_catalogue/js/modernizr.custom.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/js/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/js/jquery.easing.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/js/jquery.metadata.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/js/jquery.hoverup.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/js/jquery.hoverdir.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/js/jquery.stellar.js"></script>

<!-- Boomerang mobile nav - Optional  -->
<script src="/static/respiratory_microbial_gene_catalogue/assets/responsive-mobile-nav/js/jquery.dlmenu.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/responsive-mobile-nav/js/jquery.dlmenu.autofill.js"></script>

<!-- Forms -->
<script src="/static/respiratory_microbial_gene_catalogue/assets/ui-kit/js/jquery.powerful-placeholder.min.js"></script> 
<script src="/static/respiratory_microbial_gene_catalogue/assets/ui-kit/js/cusel.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/sky-forms/js/jquery.form.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/sky-forms/js/jquery.validate.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/sky-forms/js/jquery.maskedinput.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/sky-forms/js/jquery.modal.js"></script>

<!-- Assets -->
<script src="/static/respiratory_microbial_gene_catalogue/assets/hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/page-scroller/jquery.ui.totop.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/mixitup/jquery.mixitup.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/mixitup/jquery.mixitup.init.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/waypoints/waypoints.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/milestone-counter/jquery.countTo.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/easy-pie-chart/js/jquery.easypiechart.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/social-buttons/js/rrssb.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/nouislider/js/jquery.nouislider.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/owl-carousel/owl.carousel.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/bootstrap/js/tooltip.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/bootstrap/js/popover.js"></script>

<!-- Sripts for individual pages, depending on what plug-ins are used -->

<!-- Boomerang App JS -->
<script src="/static/respiratory_microbial_gene_catalogue/js/wp.app.js"></script>
<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
<![endif]-->

<!-- Temp You can remove this once you started to work on your project -->
<!-- <script src="js/jquery.cookie.js"></script> -->
<!-- <script src="js/wp.switcher.js"></script> -->
<!-- <script type="text/javascript" src="js/wp.ga.js"></script> -->


</body>
</html>