{% include 'header.html' %}

        <!-- Optional header components (ex: slider) -->
            
    <!-- MAIN CONTENT -->
    <div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Analysis and Missions</h2>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a href="/respiratory_microbial_gene_catalogue/">Home</a></li>
                        <li class="active"><a href="#">Mission List</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="slice white">
        <div class="wp-section">
            <div class="container">
                

            <div class="row">
                <div class="col-md-6">

                    <div class="section-title-wr">
                        <h3 class="section-title left"><span>Analysis</span></h3>
                    </div>
                    <p>Here, we provide a free server for metagenomic analysis based on our gene catalogue, for respiratory microbiome research and academic use only. 
                    </p>
                    <p>To perform an analysis, you need to create an account or log in by using the “Login / Register” menu in the top-right corner. A notification will be sent to the contact email while the mission is created or finished.
                    </p>
                    <p>See examples here: <div class="demo"><a href="/respiratory_microbial_gene_catalogue/demo-mission">Mission Demo<a></div>
                    </p>
                    </p>
                    <p>Create new mission here: <div class="demo"><a href="/respiratory_microbial_gene_catalogue/create-mission">New Mission<a></div>
                    </p>

                    <br><br>
                    <div class="section-title-wr">
                        <h3 class="section-title left"><span>Mission List</span></h3>
                    </div>
                    <table id="mission_list" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Status</th>
                                <th>Create Date</th>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Title</th>
                                <th>Status</th>
                                <th>Create Date</th>
                            </tr>
                        </tfoot>
                    </table>




                </div>
                <div class="col-md-6">
                    <img src="/static/respiratory_microbial_gene_catalogue/images/pipeline.png" class="img-responsive" alt="">
                </div>
            </div>

                    
                
            </div>
        </div>
    </section>


    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 copyright">
                    2017 © Delta Team. All rights reserved.
                    <a href="#">Terms and conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- Essentials -->
<script src="/static/respiratory_microbial_gene_catalogue/js/modernizr.custom.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/js/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/js/jquery.easing.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/js/jquery.metadata.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/js/jquery.hoverup.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/js/jquery.hoverdir.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/js/jquery.stellar.js"></script>

<!-- Boomerang mobile nav - Optional  -->
<script src="/static/respiratory_microbial_gene_catalogue/assets/responsive-mobile-nav/js/jquery.dlmenu.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/responsive-mobile-nav/js/jquery.dlmenu.autofill.js"></script>

<!-- Forms -->
<script src="/static/respiratory_microbial_gene_catalogue/assets/ui-kit/js/jquery.powerful-placeholder.min.js"></script> 
<script src="/static/respiratory_microbial_gene_catalogue/assets/ui-kit/js/cusel.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/sky-forms/js/jquery.form.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/sky-forms/js/jquery.validate.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/sky-forms/js/jquery.maskedinput.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/sky-forms/js/jquery.modal.js"></script>

<!-- Assets -->
<script src="/static/respiratory_microbial_gene_catalogue/assets/hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/page-scroller/jquery.ui.totop.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/mixitup/jquery.mixitup.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/mixitup/jquery.mixitup.init.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/waypoints/waypoints.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/milestone-counter/jquery.countTo.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/easy-pie-chart/js/jquery.easypiechart.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/social-buttons/js/rrssb.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/nouislider/js/jquery.nouislider.min.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/owl-carousel/owl.carousel.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/bootstrap/js/tooltip.js"></script>
<script src="/static/respiratory_microbial_gene_catalogue/assets/bootstrap/js/popover.js"></script>

<!-- Sripts for individual pages, depending on what plug-ins are used -->

<!-- Boomerang App JS -->
<script src="/static/respiratory_microbial_gene_catalogue/js/wp.app.js"></script>
<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
<![endif]-->

<!-- Temp You can remove this once you started to work on your project -->
<!-- <script src="js/jquery.cookie.js"></script> -->
<!-- <script src="js/wp.switcher.js"></script> -->
<!-- <script type="text/javascript" src="js/wp.ga.js"></script> -->
<link rel="stylesheet" type="text/css" href="/static/respiratory_microbial_gene_catalogue/assets/DataTables/datatables.min.css"/>
 
<script type="text/javascript" src="/static/respiratory_microbial_gene_catalogue/assets/DataTables/datatables.min.js"></script>
<script type="text/javascript" src="/static/respiratory_microbial_gene_catalogue/js/acquire_missions.js"></script>
<script type="text/javascript">
$.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
</script>
    <style type="text/css">
        .demo a {font-family:Georgia,serif; font-size:large}
        .demo a:link {color:forestgreen;}
        .demo a:visited {color:seagreen;}
        .demo a:hover {text-decoration:none;color:yellowgreen;font-weight:bold;}
        .demo a:active {color:red;text-decoration: none}
    </style>  
</body>
</html>